
                        <!-- 이 곳에 게시판 글을 쓸 수 있는 form을 만드세요 -->
                        <!-- textarea와 파일 첨부를 할 수 있도록 하면 됩니다! --> 
                        
                        
                        
                        
                        
                        
                        <!-- 이 곳에 게시판 글을 쓸 수 있는 form을 만드세요 끝!-->
                        </div>
                    <!-- 이 곳에 게시글과 댓글을 출력하는 내용을 입력하세요 -->
                    <!-- 힌트 @post.each do |p| 요렇게 !! -->
                    <%#반복문 시작%>     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h4><%#글쓴이 출력%></h4>
                             <%#원하시면 한번 몇분전에 작성한 글인지 해보세요! 지난주 강의에서 시간관련된 내용 참고!%> 
                        </div>
                        <div class="panel-body">
                            <%# 내용 출력 및 이미지가 있다면 이미지 출력(unless) 시작 %> 
                            
                            
                            <%# 내용 출력 및 이미지가 있다면 이미지 출력(unless) 시작  끝%> 
                            <hr>
                            <% # 리플 출력 시작%>
                            
                            
                            
                            <% # 리플 출력 끝 %>
                            <!-- 댓글을 작성할 수 있는 form을 만드세요 --> 



                            <!-- 댓글을 작성할 수 있는 form을 만드세요 끝!-->
                         </div>
                    </div>
                   <%#반복문 끝%>  
                       
